<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <title>GOCMS-关心关注每一个孩子的成长</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="/favicon.ico" />
    {{.headcssjs}}
    <script src="/static/fronted/m/js/jquery-3.3.1.min.js"></script>
    <script src="/static/fronted/m/js/owl.carousel.min.js"></script>
    <script src="/static/fronted/m/js/wow.min.js"></script>
</head>
<body>
<header id="header">
    <div class="menuBtn">
        <div class="tl"></div>
        <div class="ml"></div>
        <div class="bl"></div>
    </div>
    <div class="logo"><img src="/static/fronted/image/logo.png" alt="logo"></div>
</header>
<ul id="menu">
    <li class="nav-item {{if eq .cont "MainController"}}active{{end}}">
        <a href="/m/index">首页</a>
    </li>
    <li class="nav-item {{if eq .cont "UsController"}}active{{end}}">
        <a href="/m/us">关于我们</a>
    </li>
    <li class="nav-item {{if eq .cont "StaffController"}}active{{end}}">
        <a href="/m/staff">优秀员工</a>
    </li>
    <li class="nav-item {{if eq .cont "ProjectController"}}active{{end}}">
        <a href="/m/project">培训项目</a>
    </li>
    <li class="nav-item {{if eq .cont "RecruitController"}}active{{end}}">
        <a href="/m/recruit">加入我们</a>
    </li>
    <li class="nav-item {{if eq .cont "NewsController"}}active{{end}}">
        <a href="/m/news">新闻中心</a>
    </li>

    <li class="move-bar"></li>
</ul>

{{.LayoutContent}}

<footer id="footer">
    <div class="footer-wrapper">
        <div class="footer-logo"><img src="/static/fronted/image/loginlogo.png" alt="logo"></div>
        <div class="footer-contact">
            <div class="tel"><i class="iconfont icondianhua"></i> <span class="text">联系电话</span> <span class="tel_num">021 60194838</span></div>
            <div class="add"><i class="iconfont icondizhi"></i> <span class="text">公司地址</span> <span class="add_details">上海市杨浦区588号</span></div>
        </div>
        <div class="qrcode">
            <div class="right"><img src="/static/fronted/image/qrcode.jpg"></div>
            <div class="left"><span>扫描左侧二维码</span> <span>关注微信公众号<br>获取更多资讯</span></div>
        </div>
        <div class="footer-copyright"><span>COPY-RIGHT©2017-2019 GOCMS</span>
            <a rel="nofllow" href="http://beian.miit.gov.cn" target="_blank">沪ICP备10038258号-10</a>
            <a target="_blank"><i class="iconfont iconuemologo1"></i></a>
        </div>
    </div>
</footer>
<script src="/static/fronted/m/js/index.js"></script>

</body>
</html>