<div id=banner>
    <div class=owl-carousel>
    {{ range  .obj}}
        <div class=item>
            <img src="{{.ImageUrl}}">
            <a href="#">
                <div class=banner_more><span>查看详情</span> <i class="iconfont iconjiantou"></i></div>
            </a>
        </div>
    {{end}}
    </div>
    <div class=progress-bar>
        <div class="bar bar-scroll"></div>
    </div>
</div>

<div id=news>
    <div class=news-title>
        <h2>新闻中心</h2>
    </div>
    <div class="news-content owl-carousel">
        {{ range  .news}}
        <div class=news-con-item>
            <a href="/news/{{.Id}}">
                <div class="item_card">
                    <div class="img"><img src="{{.ImageUrl}}"></div>
                    <div class=item_date>
                        <div class=month>{{date .CreatedAt "m-d"}}</div>
                        <div class=year>{{date .CreatedAt "Y"}}</div>
                    </div>
                    <h3 class=item_title>{{.Name}}</h3>
                    <div class=item_con>{{.Content}}</div>
                </div>
                <div class=item_more><span>查看详情</span> <i class="iconfont iconqiehuanyou"></i></div>
            </a>
        </div>
        {{end}}

    </div>
    <div class=news-check-more><a href=/news>查看更多</a></div>
</div>