<!-- 表格插件 -->
<script src="/static/plugins/bootstrap-table/bootstrap-table.js" type="text/javascript"></script>
<script src="/static/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js" type="text/javascript"></script>
<script src="/static/plugins/bootstrap-table/cookie/bootstrap-table-cookie.js"></script>
<!-- x-editable插件 -->
<script src="/static/plugins/x-editable/js/bootstrap-editable.min.js"></script>
<!-- bootstrap-table启用x-editable插件 -->
<script src="/static/plugins/bootstrap-table/bootstrap-table-editable.js"></script>
<script src="/static/product/scripts/common.js"></script>

<script>
    var $dataGrid = $('#dataGrid');
    var $searchForm = $("#searchForm");
    //高亮显示id
    var highlightPk = null ;
    //初始化加载
    $(function () {
        pageInit();
    });

    //初始化页面
    function pageInit() {
        //从cookie加载查询条件，传入参数为form id
        //sdtheme.loadSearchText('searchForm');
        //初始化表格
        dataGridInit();
        schoolSelectInit();
        studentSchoolSelectInit();
        adressSelectInit();
        gradeSelectInit();
        studentStatusSelectInit();
        balanceRateSelectInit();
        contractTypeSelectInit();
        //搜索
        $("#btnSearch").on("click", function (e) {
            refreshToFirstPage();
        });
        //清除搜索
        $("#btnClearSearch").on("click", function (e) {
            $('select', $searchForm).selectpicker('val', '');
            $('input', $searchForm).val('');
            refreshToFirstPage();
        });
        //绑定加载成功的事件，成功后高亮显示当前项
        $dataGrid.on('load-success.bs.table', function () {
            if (highlightPk !== null && typeof highlightPk !== 'undefined') {
                sdtheme.highlight($dataGrid.find('tbody tr[data-pk="' + highlightPk + '"]'));
            }
            //高亮显示一次后失效
            highlightPk = null;
        });
        //保持搜索条件面板状态
        sdtheme.searchPanelStatusInit('searchpanelbtn');
    };

    //刷新当前页
    function refresh(pk) {
        $dataGrid.bootstrapTable('refresh');
        highlightPk = pk;
    }

    //刷新并跳转至第一页
    function refreshToFirstPage() {
        //表格刷新时，保存查询条件到cookie
        sdtheme.saveSearchText('searchForm');
        //刷新并跳转至第1页
        $dataGrid.bootstrapTable('refresh', { pageNumber: 1 });
        //同时要更新cookie里保存当前页码
        $.cookie('dataGrid.bs.table.pageNumber', 1, { expires: 1 });
    }
    var editable4Seq = rms.getEditableParam('{{urlfor "RoleController.UpdateSeq"}}', null, true);
    //bootstrap table data init
    function dataGridInit() {
        $dataGrid.bootstrapTable({
            url: '{{ urlfor "student/StudentController.DataGrid"}}',
            method: 'post',
            sidePagination: 'server', //服务器端用 server
            idField: 'Id',
            queryParamsType: 'limit',
            queryParams: function (params) {
                //params的自带参数类型由queryParamsType决定
                params.NameLike = $('.searchForm input[name="Name"]').val();
                params.DateStart = $('.searchForm input[name="DateStart"]').val();
                params.DateEnd = $('.searchForm input[name="DateEnd"]').val();
                params.Status = $('.searchForm select[name="Status"]').val();
                params.SchoolId = $('.searchForm select[name="SchoolId"]').val();
                params.Adress = $('.searchForm select[name="Adress"]').val();
                params.StudentSchoolId = $('.searchForm select[name="StudentSchoolId"]').val();
                params.Grade = $('.searchForm select[name="Grade"]').val();
                params.BalanceRate = $('.searchForm select[name="BalanceRate"]').val();
                params.ContractType = $('.searchForm select[name="ContractType"]').val();
                return params;
            },
            pagination: true,
            showRefresh: true,
            showColumns: true,
            toolbar: '#toolbar',
            pageSize: 10,
            pageList: [5, 10, 20, 100, 200],
            paginationShowPageGo: true,//20170812 lht 扩展select跳转
            paginationUseBSSelect: true,//20170812 lht 扩展select跳转 启用BoostrapSelect(页面须引用botstrap-select.min.js)
            cookie: true,
            classes: 'table table-bordered table-hover',
            undefinedText: '',
            sortName: 'Id',
            sortOrder: 'desc',
            rowAttributes: function (row, index) {
                return { 'data-pk': row.Id }
            },
            columns: [{
                field: 'state',
                checkbox: true,
                radio: false,
            }, {
                field: 'id',
                title: 'ID',
                align: 'center',
                sortable: true,
            }, {
                field: 'created_at',
                title: '建档时间',
                align: 'center',
            },{
                field: 'name',
                title: '姓名',
                align: 'center',
                formatter: formatterWapBySpan,
                cellStyle: function (value, row, index, field) {
                    return { classes: 'ellipsis' };
                }
            }, {
                field: 'code',
                title: '编号',
                width: '100px',
                align: 'center',
                sortable: true,
            },{
                field: 'sex',
                title: '性别',
                align: 'center',
                formatter: function (value,row) {
                    return sexName(row.sex);
                }
            }, {
                field: 'guarder',
                title: '监护人',
                align: 'center',
            },{
                field: 'relate',
                title: '关系',
                align: 'center',
            },{
                field: 'grade',
                title: '年级',
                align: 'center',
                formatter: function (value,row) {
                    return gradeName(row.grade);
                }
            },{
                field: 'School.name',
                title: '校区',
                align: 'center',
            },{
                field: 'StudentSchool.name',
                title: '学校',
                align: 'center',
            },{
                field: 'balance1_length',
                title: '对1余时',
                align: 'center',
                sortable: true,
            },{
                field: 'balance1',
                title: '对1余额',
                align: 'center',
                sortable: true,
            },{
                field: 'balance2_length',
                title: '小班余时',
                align: 'center',
                sortable: true,
            },{
                field: 'balance2',
                title: '小班余额',
                align: 'center',
                sortable: true,
            },{
                field: 'balance3_length',
                title: '托班余时',
                align: 'center',
                sortable: true,
            },{
                field: 'balance3',
                title: '托班余额',
                align: 'center',
                sortable: true,
            },{
                field: 'status',
                title: '状态',
                align: 'center',
                formatter: function (value,row) {
                    return studentStatusAlias(row.status)
                }
            },{
                field: 'operate',
                title: '操作',
                width: '120px',
                formatter: function (value, row, index) {
                    var ret = [];
                    ret.push('<div class="btn-group">')
                    if ('{{.canEdit}}' === 'true') {
                        ret.push('<button class="btn btn-primary btn-xs"  onclick="EditFun(' + row.id + ')">' +
                            '<i class="fa fa-pencil"></i> 编辑</button>');
                    }
                    ret.push('</div>')
                    return ret.join('');
                }
            }],
            onLoadSuccess: function (data) {
                layer.closeAll('loading');
                //
                //CheboxUniform()
            },
            onSort: function (name, order) {
                //alert('name:' + name + " order:" + order);
            },
            onPageChange: function () {
                //layer.load();
            },
            onCheckAll: function (rows) {
                //禁用删除需要勾选才能用的按钮
                $(".table-btn-check-enable").removeAttr('disabled');
            },
            onCheck: function (rows) {
                //禁用删除需要勾选才能用的按钮
                $(".table-btn-check-enable").removeAttr('disabled');
            },
            onUncheck: function (rows) {
                //禁用删除需要勾选才能用的按钮
                if ($("#dataGrid").bootstrapTable("getSelections").length === 0) {
                    $(".table-btn-check-enable").attr('disabled', 'disabled');
                }
            }, onUncheckAll: function () {
                //禁用删除需要勾选才能用的按钮
                if ($("#dataGrid").bootstrapTable("getSelections").length === 0) {
                    $(".table-btn-check-enable").attr('disabled', 'disabled');
                }
            },
            onLoadError: function (status) {
                layer.alert('获取数据失败,错误代码：' + status);
            }
        });
    } 
    ///用一个带有title值的span将值包裹起来
    function formatterWapBySpan(value, row, index) {
        if (value !== null) {
            return '<span title="' + value + '">' + value + '</span>';
        }
        return "";
    } 

    function EditFun(Id) {
        var title = '添加学生';
        if (Id > 0) {
            title = "编辑学生"
        }
        var url = '{{ urlfor "student/StudentController.Edit"}}' + '/' + Id;
        layer.open({
            type: 2,
            title: title,
            shadeClose: false,
            shade: 0.2,
            maxmin: true,
            shift: 1,
            area: ['1000px', '600px'],
            content: url,
            btn: ['保存', '关闭'],
            yes: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.FormSubmit();
            }
        });
    }

    function DeleteFun() {
        var url = '{{ urlfor "student/StudentController.Delete"}}';
        var rows = $dataGrid.bootstrapTable("getSelections");
        if (rows.length === 0) {
            layer.alert('请选择想要删除的项', { icon: 0, title: '提示' });
            return;
        }
        var ids = [];
        $(rows).each(function (i, e) {
            ids.push(e.id);
        });
        console.log(ids);
        layer.confirm('您是否要删除所选的项？', {
            btn: ['是', '否'], icon: 3, title: '请确认'
        }, function () {            
            var dataValues = { ids: ids.join(',') };
            $.sdpost(url, dataValues, function (re) {
                if (re.code === 0) {
                    layer.msg(re.msg, { icon: 1, title: '成功' });
                    refresh();
                } else {
                    layer.alert(re.msg, { icon: 2, title: "失败" });
                }
            });
        });
    }
    function AllocateFun(Id) {
        var url = '{{ urlfor "ResourceController.Select"}}' + '?desttype=1&destval=' + Id;
        var urlAllocate = '{{ urlfor "RoleController.Allocate"}}';
        layer.open({
            type: 2,
            title: '选择资源',
            shadeClose: false,
            shade: 0.2,
            maxmin: true,
            shift: 1,
            area: ['1000px', '95%'],
            content: url,
            btn: ['保存', '关闭'],
            yes: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                var selectedids = iframeWin.getSelections();
                if (selectedids.length > 0) {
                    var datas={id:Id,ids:selectedids.join(',')};
                    $.sdpost(urlAllocate,datas,function(re){
                        if (re.code === 0) {
                            refresh(Id) 
                            layer.msg(re.msg); 
                            layer.close(index); 
                        }
                        else{
                            layer.alert(re.msg,{icon:2,title:'错误'});
                        }
                    });
                } else {
                    layer.alert("请选择资源",{icon:0,title:'提示'});
                }

            }
        });
    }
    // 校区下拉框初始化
    function schoolSelectInit() {
        var url = '{{urlfor "student/SchoolController.DataList"}}';
        var $select = $("#SchoolId");
        $select.html('');
        $.sdpost(url,{},function (re) {
            if(re.code === 0) {
                var html=[];
                $(re.obj).each(function(i,e){
                    html.push('<option value="' + e.id + '">' + e.name + '</option>')
                });
                $select.html(html.join(''));
                $select.selectpicker({liveSearch:true});
                //$select.selectpicker('val',[0]);
            }else {
                layer.alert("获取数据失败",{icon:2,title:'失败'})
            }
        })
    }
    // 学生地址框初始化
    function adressSelectInit() {
        var url = '{{urlfor "StudentAreaController.DataList"}}';
        var $select = $("#Adress");
        $select.html('');
        $.sdpost(url,{},function (re) {
            if(re.code === 0) {
                var html=['<option value="">选择地区</option>'];
                $(re.obj).each(function(i,e){
                    html.push('<option value="' + e.name + '">' + e.name + '</option>')
                });
                $select.html(html.join(''));
                $select.selectpicker({liveSearch:true});
                //$select.selectpicker('val',selecteds.split(','));
            }else {
                layer.alert("获取数据失败",{icon:2,title:'失败'})
            }
        })
    }
    // 学生学校下拉框初始化
    function studentSchoolSelectInit() {
        var url = '{{urlfor "student/StudentSchoolController.DataList"}}';
        var $select = $("#StudentSchoolId");
        $select.html('');
        $.sdpost(url,{},function (re) {
            if(re.code === 0) {
                var html=['<option value="">学生学校</option>'];
                $(re.obj).each(function(i,e){
                    html.push('<option value="' + e.id + '">' + e.name + '</option>')
                });
                $select.html(html.join(''));
                $select.selectpicker({liveSearch:true});
                //$select.selectpicker('val',selecteds.split(','));
            }else {
                layer.alert("获取数据失败",{icon:2,title:'失败'})
            }
        })
    }
    function gradeSelectInit() {
        var $select = $("#Grade");
        $select.html('');
        var grade = gradeMap;
        var html=['<option value="">年级</option>'];
        Object.keys(grade).forEach(function(key){
            html.push('<option value="' + key + '">' + grade[key] + '</option>');
        });
        $select.html(html.join(''));
        $select.selectpicker({liveSearch:true});
        //$select.selectpicker('val',selecteds.split(','));
    }
    function studentStatusSelectInit() {
        var $select = $("#Status");
        $select.html('');
        var obj = studentStatusMap;
        var html = [];
        html.push('<option value="">状态</option>');
        Object.keys(obj).forEach(function(key){
            html.push('<option value="' + key + '">' + obj[key] + '</option>');
        });
        $select.html(html.join(''));
        $select.selectpicker({liveSearch:true});
        //$select.selectpicker('val',[]);
    }
    function balanceRateSelectInit() {
        var $select = $("#BalanceRate");
        $select.html('');
        var obj = balanceRate;
        var html=['<option value="">余时范围</option>'];
        $(obj).each(function(i,e){
            html.push('<option value="' + e + '">' + e + '</option>')
        });
        $select.html(html.join(''));
        $select.selectpicker({liveSearch:true});
        //$select.selectpicker('val',[]);
    }
    function contractTypeSelectInit() {
        var $select = $("#ContractType");
        $select.html('');
        var obj = contractTypeMap1;
        var html = [];
        html.push('<option value="">余额类型</option>');
        Object.keys(obj).forEach(function(key){
            html.push('<option value="' + key + '">' + obj[key] + '</option>');
        });
        $select.html(html.join(''));
        $select.selectpicker({liveSearch:true});
        //$select.selectpicker('val',[]);
    }

</script>