<div class="row">
    <!-- form start -->
    <form class="form-horizontal" id="thisForm">
        <input type="hidden" Name="Id" id="Id" value="{{.m.Id}}">
        <div class="form-group">
            <label class="col-sm-2 control-label">头像</label>
            <div class="col-sm-8">
                <div class="fileinput {{if .hasImg}}fileinput-exists{{else}}fileinput-new{{end}} display-block" data-provides="fileinput">
                    <div class="fileinput-new thumbnail">
                        <img src="/static/sdtheme/img/no-image.png" alt="">
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail">
                        <img src="{{.m.ImageUrl}}">
                    </div>
                    <div>
                    <span class="btn btn-file">
                        <span class="fileinput-new"> 选择图片 </span>
                        <span class="fileinput-exists"> 更换 </span>
                        <input name="fileImageUrl" id="inputImageUrl" type="file">
                    </span>
                        <a href="javascript:;" class="btn btn-danger fileinput-exists" data-dismiss="fileinput"> 移除 </a>
                    </div>
                </div>
                <input name="ImageUrl" id="ImageUrl" type="hidden" value="{{.m.ImageUrl}}">
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">姓名</label>
            <div class="col-sm-8">
                <input type="text" id="Name" name="Name" class="form-control" placeholder="姓名" value="{{.m.Name}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">校区</label>
            <div class="col-sm-8">
                <input type="text" id="SchoolName" name="SchoolName" class="form-control" placeholder="校区" value="{{.m.SchoolName}}">
                {{/*<select name="School" id="School" class="form-control"></select>*/}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">科目</label>
            <div class="col-sm-8">
                <select name="Subject" id="Subject" class="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">内容</label>
            <div class="col-sm-8">
                <textarea id="editor1" name="Content">{{.m.Content}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">排序</label>
            <div class="col-sm-8">
                <input type="text" id="Sort" name="Sort" class="form-control" placeholder="排序" value="{{.m.Sort}}">
            </div>
        </div>
    </form>
</div>